# Project place file
/gorp.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Packages
/Packages

# Sourcemap
/sourcemap.json

# wally lock files
/wally.lock

# documentation

docs/.vitepress/dist
docs/.vitepress/cache
docs/node_modules

/local